# PyCharm
.idea
__pycache__
# vim
*.swp
# VS code
.vscode/
# Mac
.DS_Store
# setup.py build artifacts
*.egg-info
dist/
build/
# Virtualenv for developing
env/
# Outputs
output/
outputs/
.pytest_cache
